<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="row">
    <div *ngFor="let item of data" [class]="'col-md-' + setBSColumn(item.columSize)">

      <ng-container *ngIf="isReadOnlyData(); else fieldTemplate">
        <div class="cadastro__read-field">
          <span class="cadastro__read-field_label">{{ item.label }}</span>
          <span class="cadastro__read-field_value">{{ item.viewValue }}</span>
        </div>
      </ng-container>

      <ng-template #fieldTemplate>
        <ng-container *ngIf="isTypeForMatFormField(item.type)">
          <mat-form-field class="cadastro__form-field">

            <mat-label>{{ item.label }}</mat-label>

            <ng-container *ngIf="isTypeForInput(item.type)">
              <input matInput [type]="item.type" [formControlName]="item.key" [placeholder]="setItemPlaceholder(item.type)" [dropSpecialCharacters]="false" [mask]="getMask(item.mask)" />
            </ng-container>

            <ng-container *ngIf="isTypeForTextarea(item.type)">
              <textarea matInput [type]="item.type" [formControlName]="item.key" [placeholder]="setItemPlaceholder(item.type)"></textarea>
            </ng-container>

            <ng-container *ngIf="isTypeForSelect(item.type)">
              <mat-select [formControlName]="item.key">
                <mat-option *ngFor="let option of item.options" [value]="option.value">
                  {{option.viewValue}}
                </mat-option>
              </mat-select>
            </ng-container>

          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="isTypeForCheckbox(item.type)">
          <mat-checkbox [formControlName]="item.key">{{item.label}}</mat-checkbox>
        </ng-container>

        <ng-container *ngIf="isTypeForRadio(item.type)">
          <label>{{item.label}}:</label>
          <mat-radio-group [formControlName]="item.key">
            <mat-radio-button *ngFor="let option of item.options" [value]="option.value">{{option.viewValue}}</mat-radio-button>
          </mat-radio-group>
        </ng-container>
      </ng-template>

    </div>
  </div>
  <div class="options">
    <button type="button" *ngIf="showEditButton()" (click)="emitEditData()">{{options.updateLabel}}</button>
    <button type="button" *ngIf="showDeleteButton()" (click)="emitDeleteData()">{{options.deteleLabel}}</button>
    <button type="submit" *ngIf="showSaveButton()">{{options.saveLabel}}</button>
  </div>
</form>